/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.glavni {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 97vh;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow:  0px 2px 64px black;
}

.plocica {
  appearance: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 16px;
  /* cursor: pointer; */
  flex: 1 1 0%;
  transition: 0.4s;
}

.plocica:hover{
  opacity: 0.9;
}

.sadrzaj {
  padding: 16px;
  text-align: right;
  background-color:  black;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.operacije, .red{
  display: flex;
}
.operacije .plocica{
  background-color: palevioletred;
}

.red .plocica{
  background-color: black;
}
